body {
  background-color: #003;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
form {
  background-color: #0000889f;
  padding: 10px;
  margin: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
form input {
  background-color: #0000889f;
  border: none;
  outline: none;
  color: rgb(61, 20, 157);
  padding: 5px 10px;
  width: 200px;
  flex-grow: 1;
}
form button {
  background-color: rgb(61, 20, 157);
  color: rgb(181, 214, 218);
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  width: 50px;
  flex-grow: 1;
  border-radius: 20px;
  transition: 0.7s;
}
form button:hover {
  background-color: rgb(67, 96, 165);
}
